<div class="w-100">
  <div class="w-50 alert alert-light text-dark user-<%= message.user_id %>">
    <p><%= message.user.name %></p>
    <p><%= message.content %></p>
    <small><%= message.created_at %></small>
  </div>
</div>
