<div class="card" style="width: 40rem;">
  <div class="card-header">
    <h1><%= @room.name %></h1>
  </div>
  <div class="card-body">
    <div>
      <%= render @messages %>
    </div>
  </div>
</div>